<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">

    <title>Document</title>
</head>

<body>

    <footer>
        <div class="nav">
            <ul>
                <li><a alt="Home page" class="slide_nav" href="/">Home</a></li>
                <li><a alt="Service page" class="slide_nav" href="/service">Service</a></li>
                <li><a alt="Before and after page" class="slide_nav" href="/before_and_after">Before / After</a></li>
                <li><a alt="Appoitment page" class="slide_nav" href="/appointment">Appoitment</a></li>
                <li><a alt="Contact us" class="slide_nav" href="/contact_us">Contact Us</a></li>
                <li><a alt="Free estimate" class="slide_nav" href="/estimate">free estimate</a></li>


        </div>

        <div class="footer_social_div">

            <li><a alt="instagram icon" class="slide_nav" target="_blank"
                    href="https://www.instagram.com/_car_mart_/"><i class="fa-brands fa-instagram"
                        style="color: #F4B722;"></i></a></li>
            <li><a alt="facebook icon" class="slide_nav" target="_blank"
                    href="https://www.facebook.com/profile.php?id=100070913764972"><i class="fa-brands fa-facebook"
                        style="color: #F4B722;"></i></a></li>
            <li><a alt="youtube icon" class="slide_nav" target="_blank"
                    href="https://www.youtube.com/channel/UCiFIE-zlrfXxXXj2uh1Xf4g"><i class="fa-brands fa-youtube"
                        style="color: #F4B722;"></i></a></li>

        </div>

        <div class="address_div_footer">
            <div class="icon"><i class="fa-solid fa-location-dot" style="color: #F4B722;"></i></div>
            <div class="address"><a target="_blank" style="text-decoration: none; color: #F4B722; font-size: 20px;"
                    href="https://www.google.com/maps/place/7049+Valjean+Ave,+Van+Nuys,+CA+91406/@34.198993,-118.48634,15z/data=!4m6!3m5!1s0x80c297587fe87325:0x505a04ebe7d2b02c!8m2!3d34.1989929!4d-118.48634!16s%2Fg%2F11bw416pjx?hl=en&entry=ttu">7049
                    Valjean Ave Van Nuys, CA 91406</a></div>
        </div>

        <img class="visa" src="/images/visa.png" alt="" srcset="">

  

      
  

        <div>
            <p class="copyright_p">Copyright ©
                <script>document.write(new Date().getFullYear())</script> All rights reserved | This website is made by
                <em><a target="_blank" href="https://rubenmelikyan.com/">Ruben Melikyan</a></em>
            </p>
        </div>

    </footer>

</body>


</html>