<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/appoitment.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">

  <title>International Auto Collision Center</title>
</head>
<%- include("partials/header.ejs") %>

  <div class="body">
    <div id="container">


      <iframe id="JotFormIFrame-241716467669167" title="Appointment Request Form" onload="window.parent.scrollTo(0,0)"
        allowtransparency="true" allow="geolocation; microphone; camera; fullscreen"
        src="https://form.jotform.com/241716467669167" frameborder="0"
        style="width:100%;height:539px;border:none;" scrolling="no">
      </iframe>
      <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
      <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-241716467669167']", "https://form.jotform.com/")</script>

    </div>
  </div>

  <%- include("partials/footer.ejs") %>

</html>