<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="style/contact_us.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">




  <title>International Auto Collision Center</title>
</head>
<%- include("partials/header.ejs") %>

  <div class="body">

    <div class="contact_form_div">
        
      <iframe class="contact_form" id="JotFormIFrame-241716358396163" title="Contact Us Form"
        onload="window.parent.scrollTo(0,0)" allowtransparency="true"
        allow="geolocation; microphone; camera; fullscreen" src="https://form.jotform.com/241716358396163"
        frameborder="0" style="width:100%;height:539px;border:none;" scrolling="no">
      </iframe>

  </div>

    <div class="map_and_info_div">

    
      <div class="map_div" alt="google map div">
        <iframe class="google_map"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13150.308514713155!2d-118.49416317366638!3d34.19948660556068!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c297587fe87325%3A0x505a04ebe7d2b02c!2s7049%20Valjean%20Ave%2C%20Van%20Nuys%2C%20CA%2091406!5e0!3m2!1sen!2sus!4v1718759710538!5m2!1sen!2sus"
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      
      <div class="contact_info_div">
        <h2>
          Welcome to International Auto Collision Center, where we mend more than metal. Trust our expertise to restore your vehicle and your confidence on the road.
        </h2>
          <div><h1 class="business_hours">Business hours</h1></div>
        <ul>
          <li>Monday: 9:00 AM - 5:00 PM</li>
          <li>Tuesday: 9:00 AM - 5:00 PM</li>
          <li>Wednesday: 9:00 AM - 5:00 PM</li>
          <li>Thursday: 9:00 AM - 5:00 PM</li>
          <li>Friday: 9:00 AM - 5:00 PM</li>
          <li>Saturday: Closed</li>
          <li>Sunday: Closed</li>
        </ul>

      </div>

    </div>

    
  </div>



  </div>



  <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
  <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-241716358396163']", "https://form.jotform.com/")</script>


  <%- include("partials/footer.ejs") %>

</html>