<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <title>International Auto Collision Center</title>
</head>
<%- include("partials/header.ejs") %>

    <div class="body">
        <div class="welcome_div">
            <img src="images/welcome.jpg" alt="Yellow Lamborghini on the road" srcset="">
            <h1 alt="WELCOME TO THE INTERNATIONAL AUTO COLLISION CENTER" class="welcome_text">WELCOME TO THE INTERNATIONAL AUTO COLLISION CENTER</h1>
        </div>
      
        <div class="welcome_text_div">
            <h1>We offer a wide range of services</h1>
        </div>

        <div class="service_section">

            <div class="service_div">
                <h1>Collision Repair</h1>
                <a href="/service"><img src="images/service_pic/body1.png" alt="" srcset=""></a>
            </div>
            <div class="service_div">
                <h1>Paint Matching and Refinishing</h1>
                <a href="/service"><img src="images/service_pic/paint1.png" alt="" srcset=""></a>
            </div>
            <div class="service_div">
                <h1>Dent Repair</h1>
                <a href="/service"><img src="images/service_pic/dent1.png" alt="" srcset=""></a>
            </div>
            <div class="service_div">
                <h1>Bumper Repair and Replacement</h1>
                <a href="/service"><img src="images/service_pic/bumper1.png" alt="" srcset=""></a>
            </div>
            <div class="service_div">
                <h1>Frame Straightening</h1>
                <a href="/service"><img src="images/service_pic/frame1.png" alt="" srcset=""></a>
            </div>
            <div class="service_div">
                <h1>Glass Repair</h1>
                <a href="/service"><img src="images/service_pic/glass1.png" alt="" srcset=""></a>
            </div>
            <div class="service_div">
                <h1>Aluminum Repair</h1>
                <a href="/service"><img src="images/service_pic/alumin1.png" alt="" srcset=""></a>
            </div>
            <div class="service_div">
                <h1>Polishing</h1>
                <a href="/service"><img src="images/service_pic/polish1.png" alt="" srcset=""></a>
            </div>
            <div class="service_div">
                <h1>Free Estimate</h1>
            
                <a href="/service"><img src="images/service_pic/estimate1.png" alt="" srcset=""></a>
            </div>
            <div class="service_div">
                <h1>Auto Detailing</h1>
                <a href="/service"><img src="images/service_pic/cleaning2.png" alt="" srcset=""></a>
            </div>

            <div class="service_div">
                <h1>Insurance Claims Assistance</h1>
                <a href="/service"><img src="images/service_pic/insurance1.png" alt="" srcset=""></a>
            </div>
            <div class="service_div">
                <h1>Diagnostic</h1>
                <a href="/service"><img src="images/service_pic/diagnostic1.png" alt="" srcset=""></a>
            </div>

         
            
        </div>
    </div>

    
    
    

<%- include("partials/footer.ejs") %>
</html>