<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/service.css">
    <title>International Auto Collision Center</title>
</head>

<%- include("partials/header.ejs") %>

    <div class="body">

        <div class="service_div">
            <div class="start">
                <p>Welcome to International Auto Collision Center, where we specialize in expert collision repair
                    services that restore your vehicle to its pre-accident condition. With a commitment to quality
                    craftsmanship and customer satisfaction, we are your trusted partner in automotive restoration.
                </p>
            </div>
            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Collision Repair</h1>
                    <div class="image_div"><img src="/images/service_pic/body1.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>

                        Collision repair is a specialized service aimed at restoring vehicles that have been damaged due
                        to accidents or collisions. At International Auto Collision Center, we excel in providing
                        comprehensive
                        collision repair solutions to get your vehicle back on the road safely and looking like new. We
                        repair or replace damaged body panels to eliminate dents, scratches, and other visible marks
                        from the collision.</p>
                </div>
            </div>


            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Paint Matching and Refinishing</h1>
                    <div class="image_div"><img src="/images/service_pic/paint1.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>Our commitment to excellence extends to our expert painting services, where precision and quality
                        are paramount. When it comes to restoring your vehicle’s appearance after repairs, our skilled
                        painters utilize state-of-the-art computerized color matching technology. This advanced system
                        ensures an exact match to your vehicle’s original paint color, guaranteeing a seamless finish
                        that blends flawlessly with the existing paintwork.</p>
                </div>
            </div>

            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Dent Repair</h1>
                    <div class="image_div"><img src="/images/service_pic/dent1.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>We take pride in offering specialized dent repair services that are meticulously crafted to
                        restore your vehicle’s exterior appearance. Whether it's a minor imperfection or a substantial
                        dent from a collision, our skilled team of technicians possesses the expertise and tools
                        necessary to effectively handle a diverse range of dent sizes and complexities. Our goal is to
                        ensure that your vehicle emerges looking pristine and as good as the day it left the showroom
                        floor.</p>
                </div>
            </div>

            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Bumper Repair and Replacement</h1>
                    <div class="image_div"><img src="/images/service_pic/bumper1.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>We specialize in expert bumper repair and replacement services aimed at restoring both the
                        aesthetic appeal and functionality of your vehicle. Whether your bumper has been damaged due to
                        a minor fender-bender or a more significant collision, our skilled technicians are here to
                        provide comprehensive solutions. For minor damages such as scratches, dents, or small cracks, we
                        employ advanced repair techniques to seamlessly restore the affected area. Using specialized
                        tools and materials, our technicians meticulously smooth out imperfections and match the
                        original texture and color of your bumper. This process not only enhances the appearance but
                        also prevents further deterioration. In cases where the damage to your bumper is extensive or
                        beyond repair, we offer professional bumper replacement services. We use high-quality
                        replacement parts that are sourced from reputable manufacturers and meet or exceed OEM
                        standards. Our team ensures a precise fit and finish, seamlessly integrating the new bumper with
                        the rest of your vehicle’s body.</p>
                </div>
            </div>

            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Frame Straightening</h1>
                    <div class="image_div"><img src="/images/service_pic/frame1.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>Using advanced equipment and techniques, we repair the structural integrity of your vehicle. This
                        includes frame straightening and alignment to ensure your vehicle meets safety standards. In
                        cases where the vehicle’s frame has been compromised, our skilled technicians perform meticulous
                        frame straightening procedures. This involves carefully applying controlled force to reshape and
                        realign the frame components to their factory specifications. By restoring the structural
                        integrity of the frame, we ensure that your vehicle maintains its safety and performance
                        standards.

                    </p>
                </div>
            </div>

            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Glass Repair</h1>
                    <div class="image_div"><img src="/images/service_pic/glass1.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>Glass replacement is an essential service provided by third-party technicians, dedicated to
                        enhancing the safety, functionality, and aesthetic appeal of your vehicle's windows and
                        windshields. Whether your vehicle has sustained a minor chip or a substantial crack, our
                        third-party skilled technicians possess the expertise and tools needed to address a wide range
                        of glass replacement requirements with meticulous attention to detail.</p>

                </div>
            </div>

            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Aluminum Repair</h1>
                    <div class="image_div"><img src="/images/service_pic/alumin1.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>We specialize in expert aluminum repair services designed to restore the integrity and appearance
                        of vehicles made with aluminum alloys. Our skilled technicians are trained and equipped to
                        handle the unique challenges of repairing aluminum, ensuring meticulous attention to detail and
                        the highest quality craftsmanship.</p>

                </div>
            </div>

            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Polishing</h1>
                    <div class="image_div"><img src="/images/service_pic/polish1.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>Our detailing experts are dedicated to enhancing the appearance
                        and longevity of your vehicle’s paintwork through meticulous polishing and waxing services.
                        These crucial steps are designed not only to restore but to elevate the depth, clarity, and
                        protection of your vehicle’s exterior. Using advanced polishing techniques and equipment, our
                        detailing professionals carefully remove imperfections from your vehicle’s paint surface.
                        Whether it’s minor swirl marks, light scratches, or oxidation, we strive to achieve a smooth and
                        flawless finish. This process rejuvenates the paint, bringing out its true color and brilliance.
                    </p>

                </div>
            </div>

            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Free Estimate</h1>
                    <div class="image_div"><img src="/images/service_pic/estimate1.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>We understand that getting your vehicle repaired can be stressful. That's why we offer free,
                        no-obligation estimates to help you understand the scope of work needed and the associated
                        costs. Our experienced team will assess your vehicle's damage and provide you with a transparent
                        and detailed estimate, ensuring you have all the information you need to make informed
                        decisions. Contact us today to schedule your free estimate and let us get your vehicle back on
                        the road safely and efficiently.</p>

                </div>
            </div>




            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Auto Detailing</h1>
                    <div class="image_div"><img src="/images/service_pic/cleaning2.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>

                        Enhance your vehicle’s appearance with our third-party detailing services, designed to
                        rejuvenate both the interior and exterior of your car, truck, or SUV. we understand that a
                        well-maintained vehicle not only looks impressive but also reflects your pride in ownership.
                        interior detailing services focus on cleanliness and comfort. Our third-party experts
                        meticulously clean and sanitize
                        every surface, including seats, carpets, door panels, and dashboard. Stubborn stains and odors
                        are treated and eliminated using professional-grade products and techniques. We ensure that your
                        vehicle’s interior looks and smells fresh, providing a comfortable driving environment.</p>

                </div>
            </div>

            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Insurance Claims Assistance</h1>
                    <div class="image_div"><img src="/images/service_pic/insurance1.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>Dealing with insurance claims can be a daunting task, especially after experiencing a vehicle
                        collision. We understand the complexities involved and strive to
                        make the process as seamless and stress-free as possible for our customers. Our team has
                        extensive experience in navigating the insurance claims process. We work closely with all major
                        insurance companies and adjusters such as AAA, Progressive, State Farm, GEICO, Allstate, Farmers and etc. From initial documentation to final settlement, we are here to represent your best
                        interests and maximize your insurance coverage.</p>

                </div>
            </div>

            <div class="service_and_img">
                <div class="service_title_div">
                    <h1>Diagnostic</h1>
                    <div class="image_div"><img src="/images/service_pic/diagnostic1.png" alt="" srcset=""></div>

                </div>
                <div class="text_div">
                    <p>We offer comprehensive diagnostic services to pinpoint and assess issues affecting your vehicle's
                        performance and safety. Our advanced diagnostic tools and experienced technicians enable us to
                        identify problems accurately and provide reliable solutions. We utilize state-of-the-art
                        diagnostic equipment and software to conduct thorough assessments of your vehicle's systems and
                        components. This technology allows us to perform detailed scans and diagnostics, providing
                        precise insights into potential issues.</p>

                </div>
            </div>

            <div class="end">
                <p>We understand the stress and inconvenience of vehicle
                    collisions.
                    That’s why we are dedicated to providing prompt, professional, and reliable collision repair
                    services. Our goal is to get you back on the road safely and with a vehicle that looks as good as
                    new.

                    Trust International Auto Collision Center for all your collision repair needs. Contact us today to
                    schedule a
                    consultation or get an estimate. Let us restore your peace of mind and your vehicle’s appearance
                    with our expert collision repair services.
                </p>
            </div>



        </div>



        <!-- <iframe id="JotFormIFrame-241745145872158" title="Email SignUp Form" onload="window.parent.scrollTo(0,0)"
            allowtransparency="true" allow="geolocation; microphone; camera; fullscreen"
            src="https://form.jotform.com/241745145872158" frameborder="0"
            style="min-width:100%;max-width:100%;height:539px;border:none;" scrolling="no">
        </iframe> -->


    </div>

    <%- include("partials/footer.ejs") %>

        <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
        <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-241745145872158']", "https://form.jotform.com/")</script>


</html>